:root {
  --primary: #41a7fa;
  --primary-hl: #6abcff;
  --secondary: #60dfcd;
  --card: #e2f2ff;
  --bg: #f8f9fa;
  --text: #000000;
  --canvas: #e6e4ef;
  --small-radius: 12px;
  --button-padding: 18px 14px;
  --short-transition: 0.3s;
}

body {
  background: var(--secondary);
  font: 'Roboto';
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  padding: 64px 184px;
}

.content {
  margin: 1rem 0;
  padding: 2rem 0;
  background-color: var(--card);
  border: 1px var(--text) solid;
  border-radius: var(--small-radius);
  padding: var(--button-padding);
  transition: var(--short-transition);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 20%);
}

.flex {
  display: flex;
  flex-direction: horizontal;
}

.button {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px var(--text) solid;
  border-radius: var(--small-radius);
  padding: var(--button-padding);
  transition: var(--short-transition);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 20%);
}

.button:hover {
  box-shadow: 0 8px 10px 0 rgb(0, 0, 0, 30%);
}

.color.primary {
  background-color: var(--primary);
}

.button.color.primary:hover {
  color: var(--text);
  background-color: var(--primary-hl);
}
